@import "reset.css";
/*
  Extension
*/
.unselectable, .btn-list .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  -webkit-appearance: none;
}

body {
  background: white url(bg_paper.png) 0 0 repeat;
}

.red {
  color: #FF3B30;
}

.green {
  color: #4CD964;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  font-family: "Consolas", "Monaco", monospace;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
textarea:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.2);
  -moz-box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.2);
  box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.2);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.info {
  color: #333333;
  margin-right: 30px;
  background-color: white;
  border: 1px solid #aaa;
  width: 180px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.info .info-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.info .info-item:last-child {
  margin-bottom: 0;
}
.info .info-item > h6 {
  font-weight: normal;
  font-size: 14px;
}
.info .info-item > p {
  text-align: right;
}

.operations {
  flex-grow: 1;
}

.btn-group {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.btn-group-title {
  text-align: right;
  font-weight: bold;
  width: 90px;
  padding-right: 30px;
  flex-shrink: 0;
}

.btn-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.btn-list .btn {
  word-spacing: 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 15px;
  min-width: 10%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ffbf66;
  background-color: #ffd599;
  padding: 8px 10px;
  font-size: 16px;
  color: #000;
  text-align: center;
}
.btn-list .btn:hover {
  background-color: #ffca80;
  border-color: #ff9500;
}
.btn-list .btn:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

@media (max-width: 1200px) {
  .container {
    padding: 10px;
  }

  .content {
    flex-flow: column nowrap;
    margin-top: 15px;
    align-items: flex-start;
  }

  .info {
    margin-bottom: 20px;
    margin-right: 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
  }
  .info .info-item {
    width: 40%;
    margin-right: 20%;
    line-height: 1.8;
    margin-bottom: 0;
  }
  .info .info-item > h6 {
    font-size: 12px;
  }
  .info .info-item > p {
    font-size: 12px;
  }
  .info .info-item:nth-child(2n) {
    margin-right: 0;
  }

  .btn-group {
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .btn-group .btn-group-title {
    font-size: 14px;
    width: 60px;
    padding-right: 10px;
    flex-grow: 0;
  }
  .btn-group .btn-list .btn {
    min-width: 23%;
    margin-right: 2%;
    margin-bottom: 5px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
}
