$orange:    #FFD46F;
$text-info: #333333;
$red:       #FF624A;
$green:     #12CE70;

@import "reset.css";
@import "utility";
@import "variables";

$radius: 5px;
$font-info: 14px;
$font-button: 16px;
$font-text: 14px;
$font-mobile: 12px;


body{
  background: white url(../../../lib/img/bg_paper.png) 0 0 repeat;
}

.red{color: $red;}
.green{color: $green;}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  @media (max-width: 1200px) {
    padding: 10px;
  }
}

.content{
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-flow: column nowrap;
    margin-top: 10px;
  }
}


textarea{
  font-family: "Consolas", "Monaco", monospace;
  max-width: 100%;
  padding: 10px;
  font-size: $font-text;
  display: block;
  width: 100%;
  @include border-radius($radius);
  border: 1px solid $green;
  @include transition(box-shadow 0.3s);
  &:focus{
    @include box-shadow(0 0 0 3px transparentize($green, 0.5));
    @include transition(box-shadow 0.3s);
  }
}

.info{
  color: $text-info;
  margin-right: 20px;
  background-color: white;
  border: 1px solid $green;
  width: 180px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 10px;
  @include border-radius($radius);
  &-item{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: $font-info;
    &:last-child{
      margin-bottom: 0;
    }
    > h6 {
      font-weight: normal;
      font-size: $font-info;
    }
    > p{
      text-align: right;
    }
  }
  @media (max-width: 1200px) {
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    &-item{
      width: 40%;
      margin-right: 20%;
      > h6 {font-size: $font-mobile;}
      > p {font-size: $font-mobile;}
      &:nth-child(2n){
        margin-right: 0;
      }
    }
  }
}

.operations{
  flex-grow: 1;
}

.btn-group{
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  @media (max-width: 1200px) {
    .btn-group-title{
      font-size: $font-text;
      min-width: 50px;
      padding-right: 10px;
    }
  }

}
.btn-group-title{
  font-weight: bold;
  min-width: 100px;
  flex-shrink: 0;

}
.btn-list{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;

}
.btn{
  word-spacing: 10px;
  letter-spacing: 0.5px;
  @include unselectable();
  cursor: pointer;
  margin-right: 15px;
  min-width: 10%;
  @include border-radius(5px);
  border: 1px solid $orange;
  background-color: lighten($orange, 10%);
  padding: 8px 10px;
  margin-bottom: 5px;
  font-size: $font-button;
  color: #000;
  text-align: center;
  @media (max-width: 1200px) {
    padding: 3px 8px;
    @include border-radius(3px);
    font-size: $font-text;
  }

  &:hover{
    background-color: $orange;
    border-color: darken($orange, 10%);
  }
  &:active{
    @include transform(translateY(2px));
  }

}
