@import "reset.css";
@import "utility";
@import "variables";


textarea{
  -webkit-appearance: none;
}

body{
  background: white url(bg_paper.png) 0 0 repeat;
}

.zh{color: $blue;}
.en{color: $magenta;}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.content{
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

textarea{
  font-family: "Consolas", "Monaco", monospace;
  max-width: 100%;
  padding: 10px;
  font-size: $fz-main;
  display: block;
  width: 100%;
  @include border-radius($radius);
  border: 1px solid $color-border-textarea;
  @include transition(box-shadow 0.3s);
  &:focus{
    border-color: $text-comment;
    @include box-shadow(0 0 0 5px transparentize(black, 0.9));
    @include transition(box-shadow 0.3s);
  }
}

.info{
  color: $text-subtitle;
  margin-right: 30px;
  background-color: white;
  border: 1px solid $color-border-textarea;
  width: 180px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 15px;
  @include border-radius($radius);
  .info-item{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    font-size: $fz-info;
    &:last-child{
      margin-bottom: 0;
    }
    > h6 {
      letter-spacing: 0.5px;
      font-weight: normal;
      font-size: $fz-info;
    }
    > p{
      text-align: right;
    }
  }
}

.operations{
  flex-grow: 1;
}

.btn-group{
  margin-bottom: 20px;
  align-items: center;
}
.btn-group-title{
  letter-spacing: 1px;
  font-weight: bold;
  width: 90px;
  line-height: 1.5;
  margin-bottom: 10px;
  padding-right: 30px;
  flex-shrink: 0;
}
.btn-list{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  .btn{
    letter-spacing: 1px;
    word-spacing: 10px;
    @extend .unselectable;
    cursor: pointer;
    margin-bottom: 8px;
    margin-right: 15px;
    min-width: 12%;
    @include border-radius(5px);
    border: 1px solid $color-border;
    padding: 8px 10px;
    font-size: $fz-button;
    color: $text-subtitle;
    text-align: center;
    background-color: white;
    &:hover{
      background-color: white;
      color: $magenta;
      border-color: $magenta;
    }
    &:active{
      @include transform(translateY(2px));
    }
  }
}

@media (max-width: 1200px) {
  .container{
    padding: 10px;
  }
  .content{
    flex-flow: column nowrap;
    margin-top: 15px;
    align-items: flex-start;
  }
  .info{
    margin-bottom: 20px;
    margin-right: 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    .info-item{
      width: 40%;
      margin-right: 20%;
      line-height: 1.8;
      margin-bottom: 0;
      > h6 {font-size: $fz-mobile;}
      > p {font-size: $fz-mobile;}
      &:nth-child(2n){
        margin-right: 0;
      }
    }
  }

  .btn-group{
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 0 10px;
    .btn-group-title{
      font-size: $fz-main;
      width: 60px;
      padding-right: 10px;
      flex-grow: 0;
    }
    .btn-list{
      .btn{
        margin-right: 2%;
        margin-bottom: 5px;
        padding: 5px 10px;
        @include border-radius(5px);
        font-size: $fz-main;
      }
    }
  }

}
